body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(180deg, #050418 0%, #0E0B39 39.6%, #050418 90.32%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollarea {
  min-height: 500px;
}

.sidebar-link{
  transition: 0.4s;
}

.sidebar-link:hover{
  background-color: #242648;
}

.tooltip{
  font-size: 1.3rem !important; 
}

.search::placeholder{
  color:gray;
  opacity: 1;
}

.list-group-custom .list-group-item {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
}

.list-group-custom .list-group-item:hover {
  background-color: #242648;
}

.my-button{
  background-color: #883CEF;
  --bs-btn-hover-border-color: #883CEF;
  border: 1px solid #883CEF;
}

.my-button::file-selector-button {
  visibility: hidden;
  width: 25%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.sender-card, .receiver-card {
  font-size: 1.2rem;
  color: white
}

.sender-card{
  background-color: #883CEF;
}

.receiver-card{
  background-color: red;
}